
@{
  ViewBag.Title = "_EditEmployee";
}

<div class="modal fade" id="modal-edit" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Customer Information</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
          <div class="form-group row">
            <label for="modal-edit-code-text" class="col-sm-3 col-form-label">No.</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="modal-edit-code-text" placeholder="CODE" disabled/>
            </div>
          </div>

          <div class="form-group row">
            <label for="modal-edit-email-text" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="modal-edit-email-text" placeholder="Email" />
            </div>
          </div>

          <div class="form-group row">
            <label for="modal-edit-name-text" class="col-sm-3 col-form-label">Fullname</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="modal-edit-name-text" placeholder="Fullname" />
            </div>
          </div>

          <div class="form-group row">
            <label for="modal-edit-gender-text" class="col-sm-3 col-form-label">Gender (Female/Male)</label>
            <div class="col-sm-1">
              <input type="checkbox" value="Female" class="form-control" id="modal-edit-gender-text" />
            </div>
          </div>

          <div class="form-group row">
            <label for="modal-edit-dob-text" class="col-sm-3 col-form-label">DOB</label>
            <div class="col-sm-9">
              <input type="date" class="form-control" id="modal-edit-dob-text" value="2000-1-12" min="@DateTime.Now.AddYears(-100).ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(-18).ToString("yyyy-MM-dd")" />
            </div>
          </div>

          <div class="form-group row">
            <label for="modal-edit-address-text" class="col-sm-3 col-form-label">Address</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="modal-edit-address-text" />
            </div>
          </div>

          <div class="form-group row">
            <label for="modal-edit-phone-text" class="col-sm-3 col-form-label">Phone number</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="modal-edit-phone-text" placeholder="Phone number" maxlength="10" />
            </div>
          </div>

          <div class="form-group row">
            <label for="modal-edit-password-text" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="modal-edit-password-text" placeholder="Password" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-info" data-dismiss="modal" id="edit-submit-btn">Submit</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>



