
@{
  ViewData["Title"] = "PasswordRecovery";
  Layout = "~/Views/Shared/MainLayout/_CustomerLayout.cshtml";
}

<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a class="h1"><b>Tree</b> Hotel</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>
      <form action="login.html" method="post">
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" name="email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Password" name="password" disabled>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block" id="get-password">Get password</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mt-3 mb-1">
        <a href="@Url.Action("Index", "Customer")">Login</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
@{ Html.RenderPartial("PartialLayout/_Scripts"); }

<script>
  $(document).ready(function () {
    $("#get-password").click(function (e) {

      e.preventDefault();
      $.ajax({
        url: "/Customer/PasswordRecovery",
        type: "POST",
        dataType: "json",
        data: { email: $("[name=email]").val() }
      }).done(function (result) {
        $("[name=password]").val(result.password);
      })

    });
  });
</script>
